@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    @apply box-border;
  }

  * {
    @apply m-0;
  }

  html,
  body {
    @apply font-sans h-full;
  }

  body {
    @apply leading-normal text-gray-900 bg-white;
    -webkit-font-smoothing: antialiased;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    @apply block max-w-full;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .root {
    @apply isolate;
  }
}

@layer utilities {
  .text-default {
    @apply text-text-default-light dark:text-text-default-dark;
  }
  .bg-default {
    @apply bg-text-default-light dark:bg-text-default-dark;
  }
  .border-input-border {
    @apply border-input-border-light dark:border-input-border-dark;
  }
  .bg-primary {
    @apply bg-bg-primary-light dark:bg-bg-primary-dark;
  }
  .bg-card-bg {
    @apply bg-card-bg-light dark:bg-card-bg-dark;
  }
}
